<ion-card [routerLink]="['/','navigation','tabs','args',unitItem.id]">
  <ion-card-header>
    <ion-card-subtitle>
      <ion-label style="float:left">{{unitItem.title}}
        <ion-badge *ngIf="unitItem?.pastDates != undefined" [color]="unitItem?.overdueDates ? 'danger' : unitItem?.nextDate == undefined ? 'primary' : 'secondary' ">
          <ion-icon [name]="unitItem.overdueDates ? 'close' : 'checkmark'"></ion-icon>
        </ion-badge>
      </ion-label>
      <ion-label style="float:right">{{unitItem.createdOn | date}}</ion-label>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-item detail>
    <ion-icon slot="start" name="bookmark"></ion-icon>
    <ion-label><i>da </i><b>{{unitItem.chapterFrom}}</b><i> a </i><b>{{unitItem.chapterTo}}</b></ion-label>
  </ion-item>
  <ion-card-content>
    <ion-label class="ion-text-center ion-text-uppercase"><h2><b>{{unitItem.libro}}</b></h2></ion-label>
    <p *ngIf="unitItem?.nextDate">nextDate: {{unitItem.nextDate?.giorno | date}}</p>
    <div *ngIf="unitItem?.nextDate == undefined">
      <p *ngIf="unitItem?.overdueDates">You have one or more overdue dates pending...</p>
      <p *ngIf="!unitItem?.overdueDates">Task completed!</p>
    </div>
  </ion-card-content>
</ion-card>