<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>update-unit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #unitForm="ngForm" (ngSubmit)="onEditUnit(unitForm)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nome dell'unità </ion-label>
            <ion-input name="riferimenti" required [ngModel]="unit.title" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Libro</ion-label>
            <ion-select name="libro" [ngModel]="unit.libro" placeholder="Select One">
              <ion-select-option *ngFor="let book of _books" [value]="book.titolo" required>{{book?.titolo}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">paragrafo di inizio</ion-label>
            <ion-input name="chapterFrom" type="text" required [ngModel]="unit.chapterFrom"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">paragrafo di fine</ion-label>
            <ion-input name="chapterTo" type="text" required [ngModel]="unit.chapterTo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Notes</ion-label>
            <ion-textarea name="notes" [ngModel]="unit.notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-list-header>Questions</ion-list-header>
        <ion-item *ngFor="let question of unit.questions; let i = index; trackBy: trackByFn">
          <ion-button (click)="onDeleteQuestion(i)" fill="clear" color="danger">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
          {{question.text}}
          <ion-buttons slot="end">
            <ion-button (click)="onMoveUp(i)">
              <ion-icon color="primary" name="arrow-dropup-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="onMoveDown(i)">
              <ion-icon color="primary" name="arrow-dropdown-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-input placeholder="Add a new question" name="newQuestion" type="text" [(ngModel)]="singleQuestion"></ion-input>
        <ion-button fill="clear" (click)="onAddQuestion()" [disabled]="!singleQuestion || singleQuestion.trim().length === 0">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button block color="secondary" type="submit" [disabled]="unitForm.invalid">
          Save!
        </ion-button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
