ion-content {
    --ion-background-color: #f4f5f8;
}

ion-card {
    --ion-item-background: white;
}

.lat-border {
    // border-left: 6px solid #3880ff;
    border-left: 6px solid var(--ion-color-primary);
    background-color: #f1f5fd;
}

.left-margin {
    margin-left: 6px;
}