<ion-header >
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title>argomenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header lines="inset" *ngIf="todayUnits.length > 0">
      <ion-label><i>TODAY</i></ion-label>
    </ion-list-header>
    <app-unit-item *ngFor="let item of todayUnits" [unitItem]="item"></app-unit-item>
    <ion-list-header lines="inset" *ngIf="tomorrowUnits.length > 0">
      <ion-label><i>TOMORROW</i></ion-label>
    </ion-list-header>
    <app-unit-item *ngFor="let item of tomorrowUnits" [unitItem]="item"></app-unit-item>
    <ion-list-header lines="inset">
      <ion-label><i>NEXT DAYS</i></ion-label>
    </ion-list-header>
    <app-unit-item *ngFor="let item of nextDaysUnits" [unitItem]="item"></app-unit-item>
    <ion-list-header lines="inset" *ngIf="pastDatesUnits.length > 0">
      <ion-label><i>PAST DATES</i></ion-label>
    </ion-list-header>
    <app-unit-item *ngFor="let item of pastDatesUnits" [unitItem]="item"></app-unit-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="book" color="secondary" (click)="onAddBook()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bookmark" color="primary" (click)="onAddUnita()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>