<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>argomenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let unit of unitList">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-label style="float:left">{{unit.title}} </ion-label>
          <ion-label style="float:right">{{unit.createdOn | date}}</ion-label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="bookmark"></ion-icon>
        <!-- <ion-label>{{unit.chapterFrom}}</ion-label>
        <ion-label>{{unit.chapterTo}}</ion-label> -->
        <!-- <p><i>da: </i></p> -->
        <ion-label><i>da </i><b>{{unit.chapterFrom}}</b><i> a </i><b>{{unit.chapterTo}}</b></ion-label>
        <!-- <p> {{unit.chapterFrom}}</p>
        <p><i>a: </i></p>
        <p> {{unit.chapterTo}}</p> -->
      </ion-item>
      <ion-card-content>
        <p *ngFor="let date of unit.appuntamenti" (click)="onSwitchStatus()">{{ date.giorno | date }},
          {{date.status }}
          <ion-badge slot="end"
            [color]="date.status == 'DUE' ? 'secondary' : date.status == 'OVERDUE' ? 'danger' : 'primary'">.</ion-badge>
        </p>
        <!-- <p *ngFor="let date of unit.appuntamenti">{{  }}</p> -->
        <!-- {{unit.appuntamenti[0].giorno | date: 'dd/mm/yyyy'}}
        {{unit.appuntamenti[0].status}} -->
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="book" color="secondary" (click)="onAddBook()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bookmark" color="primary" (click)="onAddUnita()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>