.indicator-container{
    padding-left: 0.5rem;
    padding-bottom: 0.4rem;
}

.event-indicator{
    background: var(--ion-color-success);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
}
