<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Unit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #unitForm="ngForm" (ngSubmit)="onCreateUnit(unitForm)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nome dell'unità </ion-label>
            <ion-input name="riferimenti" required ngModel type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Libro</ion-label>
            <ion-select name="libro" ngModel placeholder="Select One">
              <ion-select-option *ngFor="let book of _books" [value]="book.titolo" required>{{book?.titolo}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">paragrafo di inizio</ion-label>
            <ion-input name="chapterFrom" type="text" required ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">paragrafo di fine</ion-label>
            <ion-input name="chapterTo" type="text" required ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button block color="primary" type="submit" [disabled]="unitForm.invalid">
          Save!
        </ion-button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>